@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

html,
body {
  background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(0, 0, 0, 0.4)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url(https://raw.githubusercontent.com/LetMeWoosh/cdn/main/image2.gif);
  font-family: monospace;
  color: #fff;
  background-color: #141415;
  user-select: none;
}

header {
  display: grid;
  grid-template-columns: 0fr 33fr 0fr;
  grid-template-areas:
    ". title ."
    ". subtitle ."
    ". image ."
    ". song ."
    ". separator .";
}

header h1 {
  grid-area: title;

  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

header h2 {
  grid-area: subtitle;

  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
}

header img {
  grid-area: image;

  width: 80%;
  min-width: 165px;
  max-width: 300px;
  margin: 20px auto;
}

header p {
  grid-area: song;

  color: #a8a8a8;
  text-align: center;
  font-size: 14px;
  align-items: flex-end;
}

header hr {
  grid-area: separator;

  width: 30%;
  max-width: 400px;
  margin: 6px auto;
}

#links {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". links .";
}

#other {
  display: grid;
  grid-template-columns: 0fr 33fr 0fr;
  grid-template-areas: ". other .";
}

main h3 {
  grid-area: links;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  margin: 13px 0;
}

main p {
  grid-area: other;

  max-width: 470px;
  margin: auto;
  text-align: center;
  color: #a8a8a8;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-shadow: 1px 1px #c5ab38;
}

#botname-main-1 {
  color: #e4e4e4;
  font-family: "Black Ops One";
  text-align: center;
  font-size: 45px;
}
